/* Write your CSS here */
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn {
  height: 30px;
  width: 70px;
  border: 1px solid #ff0b37;
  color: #ff0b37;
  border-radius: 5px;
  font-size: 14px;
  background-color: #ffffff;
  font-weight: bold;
}
.todoItem > p {
  margin-right: 10px;
}
